<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Update Show</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
      *{
        margin: 3px;
      }

      .header{
        display: flex;
        justify-content: space-between;
      }
      h1{
        margin-left: 35%;
      }

      .bottom-link{
        margin-left: 40%
      }

      .btn-primary{
        margin-top: 8px;
      }

    </style>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <div class="header">
      <h1>Edit {{this_show.title}}</h1>
      <a href="/shows">Go Back</a>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container">

      <div class="form-row">
        <form action="/shows/update" method='post'> {# form action will redirect to a process function to handle form inputs #}
          <input type="hidden" name="show_id" value="{{this_show.id}}">
          {% csrf_token %}
          <div class="col">
            Title: <input type="text" class="form-control" name="title" value="{{this_show.title}}">
          </div>

          {# added row to display network and release date are on same row #}
          <div class="row">
            <div class="col">
              Network: <input type="text" class="form-control" name="network" value="{{this_show.network}}">
            </div>
            <div class="col">
              Release Date: <input type="date" class="form-control" name="release_date" value="{{this_show.release_date}}"> {# value will auto-populate values, helps with testing! #}
            </div>
          </div>
          {# ----------- #}

          <div class="col">
            Description: <input type="text" class="form-control" name="description" value="{{this_show.description}}">
          </div>
          <input type="submit" class="btn btn-primary" value="Update Show">
        </form>
        {# when updated, redirect to show's info page #}
        <a class="bottom-link" href="/shows/{{this_show.id}}">Go to Show</a>
      </div>

    </div>

  </body>
</html>