<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    {# display all tv shows in table #}

    <div class="container">

      <h1>Shows</h1>

      <table>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Network</th>
          <th>Release Date</th>
          <th>Actions</th>
        </tr>

        <tr>
          <td>1</td>
          <td><a href="">Show</a> | <a href="">Edit</a> | <a href="">Delete</a></td>
        </tr>

      </table>

      <a href="">Add A New Show</a>

    </div>



    <script src="" async defer></script>
  </body>
</html>